@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
.landing {
  background-image: url(./Images/home.png);
}
#all:checked ~ .check-1 {
  @apply text-opacity-100;
  animation: check-anime 0.5s 1;
}
#hospital:checked ~ .check-2 {
  @apply text-opacity-100;  
  animation: check-anime 0.5s 1;
}
#users:checked ~ .check-3 {
  @apply text-opacity-100;
  animation: check-anime 0.5s 1;
}
@keyframes check-anime {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    text-opacity: 0;
  }
}
/* Loading */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: rotating-spinner 1s linear infinite;
  -webkit-animation: rotating-spinner 1s lin;
}

.loader:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #842029;
  border-left: 4px solid transparent;
}

@keyframes rotating-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}